.events-top {
  background: url('../../../assets/backgrounds/events-top.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

// ion-item-option:before{
// 	content: "";
// 	display: block;
// 	padding-left: 100%; 	/* ratio of 1:1*/
// }