<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="events-top"></div>
    <!-- This is where the events will go -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="!isAdmin">
      <ion-list-header>
        <ion-label>Current Events</ion-label>
      </ion-list-header>
      <ion-item *ngIf="events.length == 0">
        <ion-label>There are currently no events posted - check back later!</ion-label>
      </ion-item>
      <ion-item detail *ngFor="let item of events" (click)="openEvent(item)">
        <ion-label>
          {{item.name}}
          <p><small>
              <ion-icon name="calendar"></ion-icon> Starts: {{item.start_date | date: 'MM/dd/yyyy hh:mm a (Z)'}}
            </small></p>
          <p><small>{{fetchAttendenceString(item)}}</small></p>
        </ion-label>
      </ion-item>
    </ion-list>
    
    <ion-list *ngIf="isAdmin">
      <ion-list-header>
        <ion-label>Current Events</ion-label>
      </ion-list-header>
      <ion-item *ngIf="events.length == 0">
        <ion-label>There are currently no events posted - check back later!</ion-label>
      </ion-item>
      <ion-item-sliding *ngFor="let item of events" #slidingItem>
        <ion-item detail (click)="openEvent(item)">
          <ion-label>
            {{item.name}}
            <p><small>
                <ion-icon name="calendar"></ion-icon> Starts: {{item.start_date | date: 'MM/dd/yyyy hh:mm a (Z)'}}
              </small></p>
            <p><small>{{fetchAttendenceString(item)}}</small></p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option *ngIf="!item.published" color="warning" (click)="publishEvent(item); slidingItem.close()">
            <ion-icon name="megaphone"></ion-icon>
          </ion-item-option>
          <ion-item-option color="medium" (click)="addUpdateEvent(item); slidingItem.close()">
            <ion-icon name="create"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="archiveEvent(item); slidingItem.close()">
            <ion-icon name="archive"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    
      <ion-list-header>
        <ion-label>Past Events (Admin Viewable Only)</ion-label>
      </ion-list-header>
      <ion-item-sliding #slideItemAdmin *ngFor="let item of expiredEvents">
        <ion-item detail (click)="openEvent(item)">
          <ion-label>
            <span>{{item.name}}</span><span *ngIf="!item.submitted_for_certification && !item.certified"> (<strong>Needs
                Certification</strong>)</span>
            <p><small>
                <ion-icon name="calendar"></ion-icon> Ended: {{item.end_date | date: 'MM/dd/yyyy hh:mm a (Z)'}}
              </small></p>
            <p><small>{{fetchAttendenceString(item)}}</small></p>
          </ion-label>
        </ion-item>
        <ion-item-options *ngIf="!item.certified && !item.submitted_for_certification" side="end">
          <ion-item-option color="primary" (click)="certifyEvent(item); slideItemAdmin.close()">
            <ion-icon name="checkbox-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    
    <ion-fab *ngIf="isAdmin" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addUpdateEvent()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card>
</ion-content>