<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button *ngIf="parentCaseId" defaultHref="/ben-sec/{{parentCaseId}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Incidents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="initialDataLoaded">
  <!-- refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <app-incident-report-list-item *ngFor="let item of incidentReports" [incidentReport]="item"></app-incident-report-list-item>
</ion-content>
