<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button *ngIf="!character" defaultHref="profiles"></ion-back-button>
      <ion-back-button *ngIf="character" defaultHref="profiles/{{character.id}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Ships</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="character">
  <div>
    <img src="../../../../assets/imgs/my-ships.jpg" alt="">
  </div>
  <!--  -->
  <ion-list *ngIf="!canEdit">
    <ion-item *ngFor="let ship of character.owned_ships">
      {{ship.title}} ({{ship.ship.name}})
    </ion-item>
  </ion-list>

  <ion-list *ngIf="canEdit">
    <ion-item-sliding *ngFor="let ship of character.owned_ships" #slidingItem>
      <ion-item>
        {{ship.title}} ({{ship.ship.name}})
      </ion-item>
      <ion-item-options side="end">
        <!-- <ion-item-option color="medium" (click)="addUpdateShip(ship)"><ion-icon name="create"></ion-icon></ion-item-option> -->
        <ion-item-option color="danger" (click)="archiveShip(ship)"><ion-icon name="archive"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <!-- fab -->
  <ion-fab *ngIf="canEdit" vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateShip()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
