<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="dismiss()" [disabled]="dataSubmitted">Close</ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <qrcode [qrdata]="qrData" [size]="256" [level]="'L'"></qrcode>
    <p>Your Profile Code</p>
  </div>
  <ion-list *ngIf="config">
    <ion-item>
      <ion-label>Show Slide Hints</ion-label>
      <ion-toggle slot="end" id="slide-hints" (ionChange)="updateConfig()" [(ngModel)]="config.slideHints"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Use Touch/Face ID</ion-label>
      <ion-toggle slot="end" id="biometrics" (ionChange)="updateConfig()" [(ngModel)]="config.useTouchId" disabled></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-button (click)="logout()" color="danger" expand="block">Logout</ion-button>
</ion-content>
