<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button *ngIf="!page" defaultHref="pages"></ion-back-button>
      <ion-back-button *ngIf="page" defaultHref="pages/{{pageUri}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Page</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="updatePage()"
        [disabled]="dataSubmitted">Update</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="page">
  <ion-item>
    <ion-label position="floating">Title <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required placeholder="Page Title" [(ngModel)]="page.title"
      name="page_title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Subtitle <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required placeholder="Page Subtitle" [(ngModel)]="page.subtitle" name="page_subtitle"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Categories <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-select multiple okText="Select" cancelText="Cancel" [(ngModel)]="formCategoryIds">
      <ion-select-option *ngFor="let category of pageCategories" [value]="category.id">{{category.title}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tags</ion-label>
    <ion-input required placeholder="Page Tags" [(ngModel)]="page.tags" name="page_tags"></ion-input>
    <small>Enter tags as a comma seperated list</small>
  </ion-item>
  <div class="editor" *ngIf="editorConfig" [ngxSummernote]="editorConfig" [(ngModel)]="page.content"></div>
  <ion-item>
    <ion-label>Published</ion-label>
    <ion-toggle [(ngModel)]="page.published"></ion-toggle>
  </ion-item>
</ion-content>
