<!-- <ion-header>
  <ion-toolbar>
    <ion-title>BendroCorp Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row>
    <ion-col size-md="3" size-sm="0" size-xs="0">
      <!-- empty left column -->
    </ion-col>
    <ion-col size-md="6" size-sm="12" size-xs="12">
      <ion-card>
        <div class="auth-top">
          <img src="../../assets/bendrocorp-final.png" style="max-height: 90%; margin: 8px auto 8px auto;" alt="">
        </div>
        <ion-card-header>
          <ion-card-title style="user-select: none;" longPress (press)="showDebug()">BendroCorp<span *ngIf="isWeb"> Portal</span> Login</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div>
            <ion-list lines="full" class="ion-no-margin">
              <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input #email name="email" autocomplete="email" [(ngModel)]="login.email" placeholder="Enter your email" type="email"></ion-input>
              </ion-item>
        
              <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input name="password" autocomplete="current-password" [(ngModel)]="login.password" placeholder="Enter your password" type="password"></ion-input>
              </ion-item>
        
              <ion-item>
                <ion-label position="stacked">2FA</ion-label>
                <ion-input name="code" autocomplete="one-time-code" [(ngModel)]="login.code" placeholder="2FA code (if applicable)" type="number"></ion-input>
              </ion-item>
            </ion-list>
        
            <section>
              <ion-button expand="block" color="primary" (click)="doLogin()">Login</ion-button>
            </section>
            <section>
              <p><small>By using this service and application you agree to our <a href="https://github.com/BendroCorp/community-guidelines/blob/master/standards-of-conduct.md" target="_blank">Standards of Conduct</a>, <a href="https://github.com/BendroCorp/community-guidelines/blob/master/privacy-policy.md" target="_blank">Privacy Policy</a> and <a href="https://github.com/BendroCorp/community-guidelines/blob/master/terms-of-service.md" target="_blank">Terms of Service</a>.</small></p>
            </section>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col size-md="6" size-sm="6" size-xs="12">
                <ion-button expand="block" color="dark" [routerLink]="['/register']">Register</ion-button>
              </ion-col>
              <ion-col size-md="6" size-sm="6" size-xs="12">
                <ion-button expand="block" color="dark" [routerLink]="['/forgot-password']">Forgot Password?</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <p *ngIf="showLoginDebug">{{login | json}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-md="3" size-sm="0" size-xs="0">
      <!-- empty right column -->
    </ion-col>
  </ion-row>
</ion-content>
