<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="reports-topper"></div>
    <ion-card-header>
      <ion-card-title>Forms</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Here you can submit various forms and reports that may be required from you during your tenure with BendroCorp.
    </ion-card-content>
  </ion-card>
  <!-- Everything else goes here -->
  <ion-item>
    <ion-label>
      There are currently no forms available.
    </ion-label>
  </ion-item>
</ion-content>
