<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!openedAsModal" defaultHref="events"></ion-back-button>
      <ion-button *ngIf="openedAsModal" color="medium" (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>Event Details<span *ngIf="event"> - {{event.name}}</span></ion-title>
    <ion-buttons *ngIf="openedAsModal" slot="end">
      <ion-button color="medium" (click)="openEventDetailsPage()">Open</ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="!openedAsModal" slot="end">
      <ion-button color="medium" (click)="addUpdateEvent()">Edit</ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="event">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card> 
    <ion-card-header>
      <ion-card-title>{{event.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            Starts: {{event.start_date | date: 'MM/dd/yyyy hh:mm a (Z)'}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Ends: {{event.end_date | date: 'MM/dd/yyyy hh:mm a (Z)'}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <small>Attendance: {{fetchAttendanceString()}}</small>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6>Description</h6>
            {{event.description}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" size-sm="6" size-xs="12">
          <ion-button *ngIf="(!checkCurrentStatus() || checkCurrentStatus() == 2) && !isExpired()" expand="block" color="success"
            (click)="setAttendance(1)">Attending</ion-button>
        </ion-col>
        <ion-col size-md="6" size-sm="6" size-xs="12">
          <ion-button *ngIf="(!checkCurrentStatus() || checkCurrentStatus() == 1) && !isExpired()" expand="block" color="danger"
            (click)="setAttendance(2)">Not Attending</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isExpired()">
        <ion-col>
          <ion-button (click)="certifyEvent()" expand="block">Certify Event</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>  
</ion-content>
