<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="dismiss()">Close</ion-button>
      </ion-buttons>
    <ion-title>Interview Hints</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row #hints>
        <p>All interviews should be conducted in the Interviews channel on Discord. It should not be conducted on any other channel ever. Eventually we will move interviews in-game.</p>
        <p>All interviewers should introduce themself by their character name and position within BendroCorp.</p>
        <p>The lead interviewer should then review what will happen over the course of the interview.</p>
        <p>Complete the below Interview Packet except for the General Consensus.</p>
        <p>Upon completing the applicant feedback portion of the interview packet you may ask other relevant questions as you see fit.</p>
        <p>Once items all of the items except the interview conensus are completed inform the applicant that the interview is concluded and that you will move them out so the interviewers can finish their interview packet. Let them know they will receive an email once their complete application packet is submitted to the Executive Board for review.</p>
        <p>Discuss and a establish a general consensus regarding the applicant and fill that information into the final field on the packet.</p>
        <p>Once all information is inserted, check the box "Lock for review?" and save the interview. This will lock the packet and notify the Chief Executive Officer that the application is ready for final review.</p>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
