<ion-content>
  <ion-row>
    <ion-col size-md="3" size-sm="0" size-xs="0">
      <!-- empty left column -->
    </ion-col>
    <ion-col size-md="6" size-sm="12" size-xs="12">
      <ion-card>
        <div class="register-top">
          <img src="../../assets/bendrocorp-final.png" style="max-height: 90%; margin: 8px auto 8px auto;" alt="">
        </div>
        <ion-card-header>
          <ion-card-title>Forgot Password Request</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div>
            <ion-list lines="full" class="ion-no-margin">
              <!-- email -->
              <ion-item>
                <ion-label position="stacked">Email <span class="danger">*</span></ion-label>
                <ion-input name="username" [(ngModel)]="formEmail" placeholder="Enter your email" type="email"></ion-input>
                <p><small>* Enter the email associated with your account to start the process.</small></p>
              </ion-item>
            </ion-list>
            <!-- buttons -->
            <section>
              <ion-button expand="block" color="primary" (click)="submitRequest()" [disabled]="!valid() || dataSubmitting">Submit Request</ion-button>
              <ion-button expand="block" color="dark" (click)="backToLogin()">Back to Login</ion-button>
            </section>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-md="3" size-sm="0" size-xs="0">
      <!-- empty right column -->
    </ion-col>
  </ion-row>
</ion-content>