<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="dismiss()" [disabled]="donationInProgress">Close</ion-button>
    </ion-buttons>
    <ion-title>Send Donation</ion-title>
  </ion-toolbar>
</ion-header>

<!-- content -->
<ion-content>
  <ion-item>
    <ion-label>
      <span>{{donationItem.title}}</span>
      <p>Donation Target</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Donation Amount <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="number" required placeholder="Enter an amount..." [(ngModel)]="donationAmount" name="donation_amount"></ion-input>
    <p><small class="text-muted">* Only enter whole dollars.</small></p>
  </ion-item>
  <ion-item>
    <div>
      <ion-label for="card-element">Card Info <ion-text color="danger">*</ion-text></ion-label>
      <div style="width: 30em" id="card-element" #cardElement></div>
      <div style="width: 30em" id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>
  </ion-item>
  <ion-button [disabled]="valid() || donationInProgress" *ngIf="donationItem.id" (click)="submitDonation()" color="primary" expand="block">Send Donation</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <small>* We do not store or retain your credit card information. Please consult our <a href="https://github.com/BendroCorp/community-guidelines/blob/master/privacy-policy.md" target="_blank">Privacy Policy</a> for more details.<br />** By submitting this donation you understand that this amount is non-refundable. The amount you give will be used for the specified donation item titled above. By donating to the above you gain no rights to that item and its use and operations are determined by the direction of BendroCorp officers and by BendroCorp policy and procedure.</small>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

