.so-details-title {
  color: var(--ion-color-dark);
  margin-bottom: 8px;
}

.add-image-button {
  font-size: 1.5em;
  cursor: pointer;
}

.add-image-button:hover {
  color: var(--ion-color-medium);
}