<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="system-map"></ion-back-button>
    </ion-buttons>
    <ion-title>System Map Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectedItem">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" style="text-align: center; vertical-align: middle;">
            <img src="{{selectedItem.primary_image_url_full}}" alt="" onerror="this.src='../../../assets/imgs/missing-system-map.png'" >
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="6">
            <!-- <ion-item>
              <ion-label text-wrap>
                {{selectedItem.title}} ({{selectedItem.kind}})
                <app-system-map-list-tags *ngIf="selectedItem.tags" [tags]="selectedItem.tags"></app-system-map-list-tags>
                <p style="white-space: pre-wrap;">{{selectedItem.description}}</p>
              </ion-label>
            </ion-item> -->
            <div>
              <h2 class="so-details-title">{{selectedItem.title}} ({{selectedItem.kind}})</h2>
              <app-system-map-list-tags *ngIf="selectedItem.tags" [tags]="selectedItem.tags"></app-system-map-list-tags>
              <p style="white-space: pre-wrap;">{{selectedItem.description}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- Object Type -->
      <ion-item>
        <strong>Object Type:&nbsp;</strong>{{selectedItem.kind}}
      </ion-item>

      <!-- field data -->

      <!-- parent grid -->
      <ion-grid *ngIf="selectedItem.parent">
        <ion-row>
          <ion-col>
            <h3>Parent</h3>
            <ion-slides [pager]="config.slideHints" [options]="slideOpts">
              <ion-slide (click)="selectListItem(selectedItem.parent)">
                <app-system-map-list-card [showTags]="false" [smObject]="selectedItem.parent"></app-system-map-list-card>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- Parent -->
      <!-- <ion-item *ngIf="selectedItem.parent">
        <p><strong>Parent</strong></p>
        <a [routerLink]="['/system-map', parseObjectLink(selectedItem.parent)]">{{selectedItem.parent.title}}</a>
        <div>
          <app-system-map-list-card [showTags]="false" [smObject]="selectedItem.parent" (click)="selectListItem(selectedItem.parent)"></app-system-map-list-card>
        </div>
      </ion-item> -->
      
      <!-- Faction -->
      <!-- <ion-item *ngIf="selectedItem.faction_affiliation">
        <strong>Faction:&nbsp;</strong>{{selectedItem.faction_affiliation.title}}
      </ion-item> -->
      <!-- Jurisdiction -->
      <!-- <ion-item *ngIf="selectedItem.jurisdiction">
        <strong>Jurisdiction:&nbsp;</strong>{{selectedItem.jurisdiction.title}}
      </ion-item> -->

      <!-- children grid -->
      <ion-grid *ngIf="selectedItem.children && selectedItem.children.length > 0 && starObjectTypes">
        <ion-row *ngFor="let childType of starObjectTypes">
          <ion-col *ngIf="selectChildren(childType.id).length > 0">
            <h3>{{childType.title}}s</h3>
            <ion-slides [pager]="config.slideHints" [options]="slideOpts">
              <ion-slide *ngFor="let child of selectChildren(childType.id)" (click)="selectListItem(child)">
                <app-system-map-list-card [showTags]="false" [smObject]="child"></app-system-map-list-card>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="archiveStarObject()" color="danger">
        <ion-icon name="archive-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="updateStarObject()" color="light">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addStarObject()" color="primary">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
