<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="dismiss()" [disabled]="dataSubmitted">Close</ion-button>
    </ion-buttons>
    <ion-title>{{formAction}} Job</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="addUpdateJob()" [disabled]="dataSubmitted">{{formAction}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Title -->
  <ion-item>
    <ion-label position="floating">Job Title</ion-label>
    <ion-input placeholder="Title" [(ngModel)]="job.title"></ion-input>
  </ion-item>
  <!-- Description -->
  <ion-item>
    <ion-label position="floating">Job Description</ion-label>
    <ion-textarea placeholder="Description" [(ngModel)]="job.description" rows="6"></ion-textarea>
  </ion-item>
  <!-- Completion Criteria -->
  <ion-item>
    <ion-label>Completion Criteria</ion-label>
    <ion-select placeholder="Criteria" okText="Select" cancelText="Cancel" [(ngModel)]="job.completion_criteria_id">
      <ion-select-option *ngFor="let crit of criteria" [value]="crit.id">{{crit.title}}</ion-select-option>
    </ion-select>
  </ion-item>
  <!--  -->
  <ion-item>
    <ion-label position="floating">Maximum Acceptors</ion-label>
    <ion-input placeholder="Acceptors" [(ngModel)]="job.max_acceptors"></ion-input>
  </ion-item>
  <!--  -->
  <ion-item>
    <ion-label position="floating">Operation Points Value</ion-label>
    <ion-input placeholder="Operation Points" [(ngModel)]="job.op_value"></ion-input>
  </ion-item>

  <!-- <ion-button expand="full" color="dark" (click)="addUpdateJob()">{{formAction}} Job</ion-button>
  <ion-button expand="full" color="medium" (click)="dismiss()">Cancel</ion-button> -->
</ion-content>