.danger-txt {
  color: var(--ion-color-danger);
}

.danger {
  background-color: var(--ion-color-danger);
}

.warning {
  background-color: var(--ion-color-warning);
}

.success {
  background-color: var(--ion-color-success);
}

.progress {
  display: flex;
  height: .625rem;
  overflow: hidden;
  font-size: .625rem;
  background-color: var(--ion-color-dark);
  border-radius: .25rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  // background-color: var(--ion-color-primary);
  transition: width .6s ease;
}