<div>
  <ion-item>
    <ion-label autocomplete="new-password" position="stacked">Password <span class="danger-txt">*</span></ion-label>
    <ion-input name="password" (ionChange)="onChange()" [(ngModel)]="passwordSet.password" placeholder="Enter a password" type="password"></ion-input>
    <p><small>Passwords must be at least 8 characters long and contain at least one uppercase letter, one number and/or one symbol. Passwords may not be exclusively numbers and symbols.</small></p>
  </ion-item>  
  <ion-grid>
    <ion-row>
      <ion-col>
         <!-- Progress Bar Indicator -->         
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngClass]="indicatorClass" [ngStyle]="{'width.%': indicatorLength }"></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Password length -->
        <div><small>{{numberOfCharacters}} characters long</small></div>
        <!-- Password contains upper case -->
        <div><small>{{numberOfUppercase}} upper case letters</small></div>
        <!-- Password contrains lower case -->
        <div><small>{{numberOfLowercase}} lower case letters</small></div>
      </ion-col>
      <ion-col>
        <!-- Password contains number -->
        <div><small>{{numberOfNumbers}} numbers</small></div>
        <!-- Password contains symbols -->
        <div><small>{{numberOfSymbols}} symbols</small></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label position="stacked">Password Confirmation <span class="danger-txt">*</span></ion-label>
    <ion-input name="password_confirmation" autocomplete="new-password" (ionChange)="onChange()" [(ngModel)]="passwordSet.password_confirmation" placeholder="Confirm the password" type="password"></ion-input>
    <div class="danger-txt">
      <small *ngIf="passwordMatch()">&nbsp;</small>
      <small *ngIf="!passwordMatch()">Password and confirmation password do not match.</small>
    </div>
  </ion-item>
</div>