<div style="text-align: center; padding-top: 8px;">
  <img style="max-height: 200px;" [ngClass]="{'rounded' : rounded }" src="{{avatarData}}" 
  onerror="this.src='/assets/imgs/missing-avatar.png'">
  <br><br>
  <div>
    <ion-item style="text-align:center;" text-center>
      <ion-label text-center>
        <p *ngIf="!newAvatar">&nbsp;</p>
        <p *ngIf="newAvatar">{{newAvatar.name}}</p>
        <p>Select a .png or .jpg only</p>
      </ion-label>
    </ion-item>
  </div>
  <div>
    <ion-button (click)="webAvatarPicker.click()" color="primary" expand="block"><span>Select <span *ngIf="!newAvatar">New</span> <span *ngIf="newAvatar">Another</span> {{avatarTitle}}</span></ion-button>
    <input #webAvatarPicker class="custom-file-input" style="display: none;" type="file" id="webAvatarPicker" accept="image/x-png,image/jpg" (change)="handleAvatarFileInput($event.target.files)">
  </div>
</div>