<ion-app>
  <ion-split-pane *ngIf="isAuthorized" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <!-- <ion-item>
        <ion-label>
          <h1>BendroCorp</h1>
          <p>Expanding the frontier...</p>
        </ion-label>
      </ion-item> -->
      <ion-content>
        <ion-label>
          <ion-button *ngIf="updateAvailable" (click)="doUpdate()" style="float: right;" color="light" slot="end">
            <ion-icon color="success" name="push-outline"></ion-icon>
          </ion-button>
          <div>
            <img src="../assets/bendrocorp-final.png" style="max-height: 50px; float: left; padding-right: 10px;" alt="">
            <h1>BendroCorp</h1>
            <p>Expanding the frontier...</p>
          </div>
        </ion-label>
        <hr />
        <ion-list id="inbox-list">
          <!-- top of menu -->
          <ion-item *ngIf="user">
            <ion-avatar slot="start">
              <img src="{{getAvatar()}}">
            </ion-avatar>
            <ion-label>
              <h2>{{user.first_name}} {{user.last_name}}</h2>
              <p>{{user.job_title}}</p>
            </ion-label>            
          </ion-item>
          
          <ion-grid>
            <!-- has approvals -->
            <ion-row *ngIf="totalApprovalsCount > 0">
              <ion-col>
                <div class="notification-button">
                  <ion-button (click)="openApprovals()" color="primary" expand="block">
                    <ion-icon name="clipboard-outline"></ion-icon>
                  </ion-button>
                  <ion-badge *ngIf="pendingApprovalCount" color="danger">{{pendingApprovalCount}}</ion-badge>
                </div>                
              </ion-col>
              <ion-col>
                <ion-button (click)="openSettingsModal()" color="dark" expand="block">
                  <ion-icon name="cog-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <!-- has never had approvals -->
            <ion-row *ngIf="totalApprovalsCount == 0">
              <ion-col>
                <ion-button (click)="openSettingsModal()" color="dark" expand="block">
                  <ion-icon name="cog-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <!-- Actual Menu -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.link]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <ion-router-outlet *ngIf="!isAuthorized" id="main-content"></ion-router-outlet>
</ion-app>
