<ion-app>
  <ion-split-pane *ngIf="isAuthorized" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-label>
          <ion-button *ngIf="updateAvailable" (click)="doUpdate()" style="float: right;" color="light" slot="end" alt="Update available">
            <ion-icon color="success" name="push-outline"></ion-icon>
          </ion-button>
          <div style="padding-left: 10px;">
            <img src="../assets/bendrocorp-final.png" style="max-height: 50px; float: left; padding-right: 10px;" alt="">
            <h1>BendroCorp</h1>
            <p>Expanding the frontier...</p>
          </div>
        </ion-label>
        <ion-list id="inbox-list">
          <!-- top of menu -->
          <ion-item *ngIf="user">
            <ion-avatar slot="start">
              <img src="{{getAvatar()}}" onerror="this.src='../assets/imgs/missing-avatar.png'">
            </ion-avatar>
            <ion-label>
              <h2>{{getFullName()}}</h2>
              <p>{{user.job_title || "Guest Access"}}</p>
            </ion-label>            
          </ion-item>
          
          <ion-grid>
            <!-- has had some approvals ever -->
            <ion-row *ngIf="totalApprovalsCount > 0">
              <ion-col>
                <div class="notification-button">
                  <ion-button (click)="openApprovals()" color="primary" expand="block">
                    <ion-icon name="clipboard-outline"></ion-icon>
                  </ion-button>
                  <ion-badge *ngIf="pendingApprovalCount" color="danger">{{pendingApprovalCount}}</ion-badge>
                </div>                
              </ion-col>
              <ion-col>
                <ion-button (click)="openSettingsModal()" color="dark" expand="block">
                  <ion-icon name="cog-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <!-- has never had approvals -->
            <ion-row *ngIf="totalApprovalsCount == 0">
              <ion-col>
                <ion-button (click)="openSettingsModal()" color="dark" expand="block">
                  <ion-icon name="cog-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <!-- Actual Menu -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.link]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}<ion-badge style="margin-left: 4px;" *ngIf="p.title == 'Alerts' && alertCount > 0" color="danger">{{alertCount}}</ion-badge></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <p *ngIf="!isCapacitor" style="text-align: center;">
          <a href="https://apps.apple.com/us/app/bendrocorp/id1476900583" target="_blank" rel="noopener noreferrer"><img style="max-height: 40px" src="../assets/store-badges/ios-light.svg" alt=""></a>&nbsp;
          <a href="https://play.google.com/store/apps/details?id=com.bendrocorp.app" target="_blank" rel="noopener noreferrer"><img style="max-height: 50px" src="../assets/store-badges/google-play2.png" alt=""></a>
        </p>
        <p [ngStyle]="{'font-style': footerAlign()}"><small>Copyright &copy; {{copyrightYear}} BendroCorp</small><br />
          <small style="font-size: .5em;"><a href="https://github.com/BendroCorp/community-guidelines/blob/master/standards-of-conduct.md" target="_blank">Standards of Conduct</a>  |  <a href="https://github.com/BendroCorp/community-guidelines/blob/master/privacy-policy.md" target="_blank">Privacy Policy</a>  |  <a href="https://github.com/BendroCorp/community-guidelines/blob/master/terms-of-service.md" target="_blank">Terms of Service</a></small>
        </p>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <ion-router-outlet *ngIf="!isAuthorized" id="main-content"></ion-router-outlet>
</ion-app>
