<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>BendroSAFE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="initialDataLoaded">
  <!-- refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- search -->
  <ion-card>
    <div class="offender-topper"></div>
    <ion-card-header>
      <ion-card-title>BendroSAFE System</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The BendroSAFE system is designed to give BendroCorp employees and affiliates access to critical citizen data to give them insight into the risk of their current surroundings.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label>BendroSAFE Search</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size-md=11 size-xs=10 size-sm=10>
              <ion-input (keydown.enter)="goSearch($event)" [(ngModel)]="searchHandle" placeholder="Search for a handle..."></ion-input>
            </ion-col>
            <ion-col size-md=1 size-xs=2 size-sm=2>
              <ion-button (click)="goSearch()" [disabled]="!searchHandle || searchHandle.length == 0 || bendroSearchRunning">Go</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <small>* RSI Handles are case insensitive and should not contain any spaces.</small>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- your incident reports -->
  <ion-list *ngIf="myReports.length > 0">
    <ion-list-header>
      Your Incident Reports
    </ion-list-header>
    <app-incident-report-list-item *ngFor="let item of myReports" [incidentReport]="item"></app-incident-report-list-item>
  </ion-list>
</ion-content>
