.pages-topper {
  background: url('../../../assets/backgrounds/pages.jpg');
  background-size: cover;
  background-position: center;
  height: 150px;
}

.outer-title {
  margin-left: 10px;
}

ion-slide {
  width: 50% !important;
}

app-page-snippet {
  width: 100%;
}