<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pages</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchFilter" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!searchFilter">
  <ion-card>
    <div class="pages-topper"></div>
    <ion-card-header>
      <ion-card-title>Pages</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Here you will find a set of informational pages designed to provide you with vital information to working within BendroCorp and for surviving in the verse.
    </ion-card-content>
  </ion-card>
  <!-- pages content here -->
  <div>
    
  </div>
</ion-content>
