.applications-topper {
  background: url('../../../assets/backgrounds/application.jpg');
  background-size: cover;
  background-position: center;
  height: 150px;
}

.application-heading {
  color: var(--ion-color-dark);
}