<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alerts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="alerts-topper"></div>
    <ion-card-header>
      <ion-card-title>Alerts</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      This area contains any corporate alerts and travel advisories
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      There are currently no alerts
    </ion-card-content>
  </ion-card>
</ion-content>
