.profile-item{
  cursor: pointer;
}

.profiles-top {
  background: url('../../../assets/backgrounds/pioneer-profiles.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}