<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="dismiss()" [disabled]="dataSubmitted">Close</ion-button>
    </ion-buttons>    
    <ion-title slot="">{{formAction}} Event</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="addUpdateEvent()" [disabled]="dataSubmitted">{{formAction}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Event Name -->
  <ion-item class="test">
    <ion-label position="floating">Event Name <span color="danger">*</span></ion-label>
    <ion-input placeholder="Name" [(ngModel)]="event.name"></ion-input>
  </ion-item>
  <!-- Description -->
  <ion-item>
    <ion-label position="floating">Event Description <span color="danger">*</span></ion-label>
    <ion-textarea rows="6" placeholder="Description" [(ngModel)]="event.description"></ion-textarea>
  </ion-item>
  <!-- Start Time -->
  <ion-item>
    <ion-label>Start Time <span color="danger">*</span></ion-label>
    <ion-datetime placeholder="Starts" displayFormat="D MMM YYYY H:mm" [(ngModel)]="event.start_date"></ion-datetime>
  </ion-item>
  <!-- End Time -->
  <ion-item>
    <ion-label>End Time <span color="danger">*</span></ion-label>
    <ion-datetime placeholder="Ends" displayFormat="D MMM YYYY H:mm" [(ngModel)]="event.end_date"></ion-datetime>
  </ion-item>
  <!-- Show on Dashboard -->
  <ion-item>
    <ion-label>Show on Dashboard</ion-label>
    <ion-checkbox slot="start" [(ngModel)]="event.show_on_dashboard"></ion-checkbox>
  </ion-item>
  <!-- Recurrence -->
  <ion-item>
    <ion-label>Recurrence</ion-label>
    <ion-select okText="Select" cancelText="Cancel" [(ngModel)]="recurrenceId" (ionChange)="setRecurrence()">
      <ion-select-option [value]="1" [selected]="recurrenceId == 1">Weekly</ion-select-option>
      <ion-select-option [value]="2" [selected]="recurrenceId == 2">Monthly</ion-select-option>
      <ion-select-option [value]="0" [selected]="recurrenceId == 0">None</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- <ion-button expand="full" color="dark" (click)="addUpdateEvent()">{{formAction}} Event</ion-button>
  <ion-button expand="full" color="medium" (click)="dismiss()">Cancel</ion-button> -->
</ion-content>
