/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
  --background: none;
}

// makes the buttons a reasonable size
ion-item-option {
  font-size: 2em;
  color: #fff;
}

ion-card {
  border: solid 2px var(--ion-color-primary);
  box-shadow: 0px 0px 6px rgba($color: #000000, $alpha: .7);
}

ion-header {
  border-bottom: solid 2px var(--ion-color-primary);
  box-shadow: 0px .1px 4px rgba($color: #000000, $alpha: .7);
}

ion-menu {
  // TODO: https://stackoverflow.com/questions/8835142/any-way-to-declare-a-size-partial-border-to-a-box
  // border-right: solid 2px var(--ion-color-primary);
  box-shadow: 6px 0px 4px rgba($color: #000000, $alpha: .7) !important;
}

/* width */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
  // background: url('./assets/app-background.png') !important;
  // background-color: none;
  // background-size: cover !important;
}

.notification-button {            
  position: relative;
  // width: 42px;
  // top:1px;
  // right: 1px;
  overflow: visible!important;
}


.notification-button > ion-badge {
  position: absolute;
  font-size: .7em;
  font-weight: bolder;
  width: 2em;
  height: 2em;
  top: -3px;
  right: -3px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.4;
}

.outer-title {
  margin-left: 10px;
}

.picker {
  cursor: pointer;
}

.danger {
  color: var(--ion-color-danger);
}

ion-item-sliding {
  cursor: pointer;
}

// ion-select {
//   min-width: 60% !impo;
//   max-width: 100%;
// }
