<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <div class="dashboard-top"></div>
    <ion-card-header>
      <ion-card-subtitle>Your Dashboard</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <!-- Dashboard Grid -->
      <ion-row>
        <!-- events -->
        <ion-col size-md="6" size-sm="12" size-xs="12">
          <ion-grid>
            <ion-row>
              <!-- if the next event is in front of us still -->
              <ion-col *ngIf="nextEvent && showStartCountdown">
                <ion-label>Next event <span style="font-size: 1.5em;">{{nextEvent.name}}</span> is in:</ion-label>
              </ion-col>
            </ion-row>
            <!-- if the next event is now -->
            <ion-row *ngIf="nextEvent && showEndCountdown">
              <ion-col text-center>
                <h3>{{nextEvent.name}} is happening now!</h3>
                <ion-label>Events ends in:</ion-label>
              </ion-col>
            </ion-row>
            <!-- if there is no next event -->
            <ion-row *ngIf="!nextEvent">
              <ion-col text-center>
                <ion-label>No events scheduled!</ion-label>
              </ion-col>
            </ion-row>
            <!-- Show event start countdown -->
            <ion-row *ngIf="showStartCountdown && showCountdown">
              <ion-col>
                <app-countdown-chart [endTime]="nextEvent.start_date"></app-countdown-chart>
              </ion-col>
            </ion-row>
            <!-- Event end countdown -->
            <ion-row *ngIf="showEndCountdown && showCountdown">
              <ion-col>
                <app-countdown-chart [endTime]="nextEvent.end_date"></app-countdown-chart>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-md="6" size-sm="12" size-xs="12">
                <ion-button *ngIf="nextEvent" color="dark" expand="block" (click)="openEventModal(nextEvent)">Open Event</ion-button>
              </ion-col>
              <ion-col size-md="6" size-sm="12" size-xs="12">
                <ion-button (click)="openDiscord()" color="tertiary" expand="block">Open Discord</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <!-- news -->
        <ion-col size-md="6" size-sm="12" size-xs="12">
          <ion-row>
            <!-- if the next event is in front of us still -->
            <ion-col>
              <ion-label style="font-size: 1.5em;">Corporate News</ion-label>
              <ion-list *ngIf="news">
                <ion-item class="news-item" (click)="openNewsModal(item)" *ngFor="let item of news" details>
                  <ion-label>{{item.title}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- Tasks -->
        <ion-col>
          <ion-label>Pending Tasks</ion-label>
          <ion-list>
            <ion-item>
              <ion-label>
                Task name placeholder
                <p>Due Date: N/A</p>
              </ion-label>
              <ion-button slot="end" disabled>Action</ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
