<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="profiles"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Details<span *ngIf="character && showNameInDetailsHeader"> - {{character.full_name}}</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="character">
  <ion-grid>
    <ion-row>
      <!-- Basic Info Pane -->
      <ion-col size-md="4" size-sm="12" size-xs="12" style="text-align: center;">
        <ion-card>
          <ion-card-header>
            <!-- avatar -->
            <div>
              <!-- editable bade (ie you have the rights) -->
              <div class="editable-avatar" *ngIf="canEdit">
                <img (click)="updateAvatar()" style="border-radius: 50%; max-height: 200px; cursor: pointer;" src="{{character.avatar_url}}" onerror="this.src='../../../../assets/imgs/missing-avatar.png'">
                <div>
                  <small>Tap to update avatar</small>
                </div>
              </div>     

              <!-- no edit page -->
              <div *ngIf="!canEdit">
                <img style="border-radius: 50%; max-height: 200px;" src="{{character.avatar_url}}">
              </div>
            </div>
            <ion-card-title>{{character.full_name}}</ion-card-title>
            <ion-card-subtitle>{{character.current_job.title}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <!-- Details Pane -->
      <ion-col size-md="8" size-sm="12" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Profile Information</ion-card-title>
          </ion-card-header>        
          <ion-card-content>
            <div>
              Tap for more information:
              <ion-item class="profile-detail-sub" detail (click)="openProfileBackground()">Background</ion-item>
              <ion-item class="profile-detail-sub" detail (click)="openProfileServiceRecord()">Service Record</ion-item>
              <ion-item class="profile-detail-sub" detail (click)="openProfileShips()">Ships</ion-item>
              <ion-item class="profile-detail-sub" *ngIf="ceoRights || hrRights || (character.application && character.application.application_status_id < 6)" detail
                (click)="openProfileApplication()">Application</ion-item>
              <ion-item class="profile-detail-sub" *ngIf="ceoRights || hrRights" detail (click)="openProfileInterview()">Interview</ion-item>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- App info -->
    <ion-row *ngIf="character && (hrRights && character.application.application_status_id < 6 )">
      <ion-col size-md="4" size-sm="12" size-xs="12">
        <ion-card>
          <ion-card-content>
            <ion-button *ngIf="character.application.application_status_id == 5" expand="full" color="success" (click)="advanceApplication()">CEO Accept</ion-button>
            <ion-button *ngIf="character.application.application_status_id < 5" expand="full" color="success" (click)="advanceApplication()">Advance Application</ion-button>
            <ion-button expand="full" color="danger" (click)="rejectApplication()">Reject Application</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Application Buttons -->
  <!-- application_status_id -->
  <!-- <div *ngIf="hrRights && character.application.application_status_id < 6">
    <ion-button *ngIf="character.application.application_status_id == 5" expand="full" color="success" (click)="advanceApplication()">CEO Accept</ion-button>
    <ion-button *ngIf="character.application.application_status_id < 5" expand="full" color="success" (click)="advanceApplication()">Advance Application</ion-button>
    <ion-button expand="full" color="danger" (click)="rejectApplication()">Reject Application</ion-button>
  </div> -->
  <!-- <ion-item>Badges here</ion-item> -->
  <!-- Profile Menu -->
  <!-- <ion-item detail (click)="openProfileBackground()">Background</ion-item>
  <ion-item detail (click)="openProfileServiceRecord()">Service Record</ion-item>
  <ion-item detail (click)="openProfileShips()">Ships</ion-item>
  <ion-item *ngIf="hrRights || (character.application && character.application.application_status_id < 6)" detail (click)="openProfileApplication()">Application</ion-item>
  <ion-item *ngIf="hrRights" detail (click)="openProfileInterview()">Interview</ion-item> -->
</ion-content>
