<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="dismiss()" [disabled]="updating">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Update Avatar</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="updateAvatar()" [disabled]="!newAvatar || updating">Update</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-select-avatar [avatarData]="avatarData" (avatarUpdatedEvent)="selectedAvatar($event)"></app-select-avatar>
  <!-- <div style="text-align: center;">
    <img style="border-radius: 50%; max-height: 200px;" src="{{avatarData}}">
    <br><br>
    <div>
      <ion-item style="text-align:center;">
        <ion-label>
          <p *ngIf="!newAvatar">&nbsp;</p>
          <p *ngIf="newAvatar">{{newAvatar.name}}</p>
          <p>Select a .png or .jpg only</p>
        </ion-label>
      </ion-item>
    </div>
    <div>
      <ion-button (click)="webAvatarPicker.click()" color="primary" expand="block"><span>Select <span *ngIf="!newAvatar">New</span> <span *ngIf="newAvatar">Another</span> Avatar</span></ion-button>
      <input #webAvatarPicker class="custom-file-input" style="display: none;" type="file" id="webAvatarPicker" accept="image/x-png,image/jpg" (change)="handleAvatarFileInput($event.target.files)">
    </div>
  </div> -->
</ion-content>