.sm-topper {
  background: url('../../../assets/backgrounds/sm.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 15%;
  height: 150px;
}

.sm-menu {
  cursor: pointer;
}