<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>System Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="sm-topper"></div>
    <ion-card-header>
      <ion-card-title>System Map</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      System Map represents the knowledge of BendroCorp about the 'verse.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item class="sm-menu" detail>Search View</ion-item>
      <ion-item class="sm-menu" detail>Map View</ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
