<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>System Map</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="initialDataLoaded">
    <ion-searchbar (keyup)="onSearchKeyUp()" [(ngModel)]="searchFilter" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="sm-topper"></div>
    <ion-card-header>
      <ion-card-title>System Map</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      System Map represents the knowledge of BendroCorp about the 'verse.
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label style="text-align: right;">
      Map View
    </ion-label>
    <ion-toggle slot="end" color="primary" disabled></ion-toggle>
  </ion-item>

  <!-- card to be be replaced by categorical sliders -->
  <ion-card>
    <ion-card-content>
      System Map content cards will go here! :)
    </ion-card-content>
  </ion-card>
</ion-content>
