<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>System Map</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="initialDataLoaded">
    <ion-searchbar (keyup)="onSearchKeyUp()" [(ngModel)]="searchFilter" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="initialDataLoaded">
  <!-- Regular View -->
  <div *ngIf="!searchFilter">
    <ion-card>
      <div class="sm-topper"></div>
      <ion-card-header>
        <ion-card-title>System Map</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        System Map represents the knowledge of BendroCorp about the 'verse.
      </ion-card-content>
    </ion-card>
    <ion-item>
      <ion-label style="text-align: right;">
        Map View
      </ion-label>
      <ion-toggle slot="end" color="primary" disabled></ion-toggle>
    </ion-item>
    
    <h3 class="outer-title">Star Systems</h3>
    <ion-slides #slidesSystems *ngIf="showSlides" [pager]="config.slideHints" [options]="slideOpts">
      <ion-slide *ngFor="let item of fetchTypeOfItem('star system')" (click)="selectListItem(item)">
        <app-system-map-list-card [smObject]="item"></app-system-map-list-card>
      </ion-slide>
    </ion-slides>
    
    <h3 class="outer-title">People</h3>
    <ion-slides #slidesPeople *ngIf="showSlides" [pager]="config.slideHints" [options]="slideOpts">
      <ion-slide *ngFor="let item of fetchTypeOfItem('mission giver')" (click)="selectListItem(item)">
        <app-system-map-list-card [smObject]="item"></app-system-map-list-card>
      </ion-slide>
    </ion-slides>
    
    <h3 class="outer-title">Locations</h3>
    <ion-slides #slidesLocations *ngIf="showSlides" [pager]="config.slideHints" [options]="slideOpts">
      <ion-slide *ngFor="let item of fetchTypeOfItem('location')" (click)="selectListItem(item)">
        <app-system-map-list-card [smObject]="item"></app-system-map-list-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- Search Results view -->
  <div *ngIf="searchFilter">
    <ion-item>
      <ion-label>
        System Map Search Results
      </ion-label>
    </ion-item>

    <h3 class="outer-title" *ngIf="searchList.length == 0">No results found.</h3>

    <ion-slides #slidesSearch *ngIf="searchList && showSlides" [pager]="config.slideHints" [options]="slideOpts">
      <ion-slide *ngFor="let item of searchList" (click)="selectListItem(item)">
        <app-system-map-list-card [smObject]="item"></app-system-map-list-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
