<div>
  <div id="next-event-circles" class="timer-clock">
    <div id="circle-days" class="clock-circle">
        Days<br>
        <canvas #daysChart id="event-days" height="100"></canvas>
        <div class="clock-label" id="event-days-label">{{eventDays}}</div>
    </div>
    <div id="circle-hours" class="clock-circle">
        Hours<br>
        <canvas #hoursChart id="event-hours" height="100"></canvas>
        <div class="clock-label" id="event-hours-label">{{eventHours}}</div>
    </div>
    <div id="circle-minutes" class="clock-circle">
        Minutes<br>
        <canvas #minutesChart id="event-minutes" height="100"></canvas>
        <div class="clock-label" id="event-minutes-label">{{eventMinutes}}</div>
    </div>
    <div id="circle-seconds" class="clock-circle">
        Seconds<br>
        <canvas #secondsChart id="event-seconds" height="100"></canvas>
        <div class="clock-label" id="event-seconds-label">{{eventSeconds}}</div>
    </div>
  </div>
</div>