/* The outer wrapper */
.timer-clock {
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  height: 92px;
  max-width: 100%;
  min-width: 270px;
  position: relative;
}

.timer-clock .clock-circle {
   width: 25%;
   text-align: center;
   display: inline-block;
   float: left;
   position: relative;
   font-size: 15px;
}

.timer-clock .clock-circle canvas {
   display: block;
   width: 100% !important;
   /* height: 150px !important; */
}

.timer-clock .clock-circle .clock-label { 
  display: inline-block;
  position: absolute; 
  text-align: center;
  width: 100%;
  /* font-size: 2em; 28px */
  
  /* width: 75px;  */
  /* height: 100%; */
  /* top: 42%; 49px */
  /* left: 11%; -71px */
}
/* 431px */
@media screen and (min-width: 431px) {
  .timer-clock .clock-circle .clock-label { 
     font-size: 1.6em;
     /* width: 75px; */
     top: 45%;
     left: 0;
   }
}

@media screen and (min-width: 351px) and (max-width: 431px) {
  .timer-clock .clock-circle .clock-label { 
     font-size: 1.25em;
     /* width: 75px; */
     top: 50%;
     left: 0;
     /* left: calc(9% - 2px); 9% */
   } 
}

@media screen and (min-width: 331px) and (max-width: 350px) {
  .timer-clock .clock-circle .clock-label { 
     font-size: 1.25em;
     /* width: 75px; */
     top: 50%;
     left: 0;
     /* left: calc(9% - 5px); 9% */
   } 
}

@media screen and (max-width: 330px) {
  .timer-clock .clock-circle .clock-label { 
     font-size: 1.25em;
     /* width: 75px; */
     top: 50%;
     left: 0;
     /* left: calc(9% - 8px); 9% */
   } 
}